<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>26fbfe8c-af1b-49fe-b9c2-0fd4da828680</key>
	<string>317744f913</string>
	<key>f5268875-4cce-4a9e-b9fb-9bd8052aa55c</key>
	<string>426665c0fe</string>
	<key>海淀阳光餐饮</key>
	<string>aa7780e92e</string>
	<key>常州阳光餐饮</key>
	<string>bd769f2c4a</string>
	<key>朝阳阳光餐饮</key>
	<string>fe210f3080</string>
	<key>通州阳光餐饮</key>
	<string>01e1ad62b2</string>
	<key>昌平阳光餐饮</key>
	<string>4d7013a194</string>
	<key>呷哺呷哺阳光餐饮</key>
	<string>3dd6c1bd45</string>
	<key>西城阳光餐饮</key>
	<string>596ba9a071</string>
	<key>南岗阳光餐饮</key>
	<string>c3ef84012b</string>
	<key>晋安阳光餐饮</key>
	<string>114797ca38</string>
	<key>乌当阳光餐饮</key>
	<string>8e8016614f</string>
	<key>衢州阳光餐饮</key>
	<string>43ffa2694d</string>
	<key>佛山阳光餐饮</key>
	<string>a3204eb8ac</string>
	<key>惠山阳光餐饮</key>
	<string>99dd937bdc</string>
	<key>鹤岗阳光餐饮</key>
	<string>c5e34f2fd7</string>
	<key>滨湖阳光厨房</key>
	<string>c08c89fa23</string>
	<key>青秀食安在线</key>
	<string>e5a728fd0a</string>
	<key>荣巷食安</key>
	<string>4802a18152</string>
	<key>桐庐阳光餐饮</key>
	<string>0e10b1cc2a</string>
	<key>营口阳光餐饮</key>
	<string>ba7b88be71</string>
	<key>阜新市阳光餐饮</key>
	<string>978d93b69f</string>
</dict>
</plist>
