<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>26fbfe8c-af1b-49fe-b9c2-0fd4da828680</key>
	<string>5bd6c268f1f5566392000145</string>
	<key>f5268875-4cce-4a9e-b9fb-9bd8052aa55c</key>
	<string>5bd6af00b465f55c0d000108</string>
	<key>海淀阳光餐饮</key>
	<string>5bea7724f1f55653400000b6</string>
	<key>常州阳光餐饮</key>
	<string>5bea7773b465f5b9330000b0</string>
	<key>朝阳阳光餐饮</key>
	<string>5bea77b8f1f5561208000146</string>
	<key>通州阳光餐饮</key>
	<string>5bea77cdf1f5562b8c000135</string>
	<key>昌平阳光餐饮</key>
	<string>5bea77e2f1f55644660000e7</string>
	<key>呷哺呷哺阳光餐饮</key>
	<string>5bea77eff1f556aa790001ed</string>
	<key>西城阳光餐饮</key>
	<string>5bea7807f1f556b42c00001b</string>
	<key>南岗阳光餐饮</key>
	<string>5bea783cb465f52e610001f1</string>
	<key>晋安阳光餐饮</key>
	<string>5bea7851b465f5d3ec000417</string>
	<key>乌当阳光餐饮</key>
	<string>5bea78eeb465f54b4a0001eb</string>
	<key>衢州阳光餐饮</key>
	<string>5bea78feb465f596ac000138</string>
	<key>佛山阳光餐饮</key>
	<string>5bea7913b465f5a0b2000136</string>
	<key>惠山阳光餐饮</key>
	<string>5bea792db465f553560002dd</string>
	<key>鹤岗阳光餐饮</key>
	<string>5bea793db465f51ce0000203</string>
	<key>滨湖阳光厨房</key>
	<string>5bea7954b465f5c1250000dc</string>
	<key>青秀食安在线</key>
	<string>5bea7965b465f5a30d00013f</string>
	<key>荣巷食安</key>
	<string>5bea797db465f545e60001e6</string>
	<key>桐庐阳光餐饮</key>
	<string>5bea7993b465f50592000231</string>
	<key>营口阳光餐饮</key>
	<string>5bea79c1b465f5167900027a</string>
	<key>阜新市阳光餐饮</key>
	<string>5bea79d0b465f52e61000234</string>
</dict>
</plist>
